body{
    background-color: pink;
    width: 100%;
    height: 100%;
}

.bk {
    background-image: url("./img/schoolold.jpg");
    width: 400px;
    height: 200px;
    background-position: center, left;
    background-repeat: no-repeat;
}

.rs {
    font-size: 20px;
    padding-right: 100px;
    padding-left: 800px;
    height: 125px;
}

.text-body {
    font-size: 15px;
}

h2 {
    color: #fd0000;
}

h1 {
    color: white;
}

p {
    color: yellow;
}

a:visited {
    color: red;
    text-decoration: none;
}

.navbar-nav {
    right: 1px;
    padding-left: 0;
}

.navbar-navtop {
    padding: unset;
}